body {
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
p {
    font-style: italic;
    color: white;
}