@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

body {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(249,172,255,1) 22%, rgba(248,157,255,1) 52%, rgba(79,0,59,1) 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.header {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.title-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border: double 10px rgb(95, 16, 101);
    background: rgb(224,196,81);
    background: radial-gradient(circle, rgba(224,196,81,1) 51%, rgba(193,160,28,1) 70%, rgba(107,104,95,1) 100%);
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
    font-family: 'PinyonScript';
    color: rgb(95, 16, 101);
    transition: color 0.3s ease; /* Transition pour l'effet de survol */
    box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myAudio {
    padding: 20px;
}
#myAudio::-webkit-media-controls-panel {
    background-color: red;
}
/* CENTER */

.box {
    border: double 10px rgb(95 16 101);
    margin-top: 20px;
    width: 95%;
    display: flex;
    background: rgb(255,214,251);
background: radial-gradient(circle, rgba(255,214,251,1) 34%, rgba(255,152,245,1) 73%, rgba(214,90,145,1) 95%, rgba(203,73,118,1) 100%);
       box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
}

.row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-board {
    width: 20%;
}
.right-board {
    width: 20%;
}
.center-board {
    width: 60%;
}

.rose {
    width: 100%;
}
.introduction-container {
    text-align: center;
    font-family: 'Charmonman';
    font-size: large;
    background-color: red;
    border: solid 5px rgb(95, 16, 101);
    border-radius: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.images-container {
    padding-top: 20px ;
    padding-bottom: 20px;
    border: solid 5px rgb(95, 16, 101);
    border-radius: 2%;
    background-color: rgb(255 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coeur-image {
    width: 80%;
}

#img1 {
    z-index: 3;
    transition: opacity 5s ease; /* Transition d'opacité sur 0.5 secondes avec un effet "ease" */

}

.transparent {
    opacity: 0; /* Opacité souhaitée (0.5 pour une transparence de 50%) */
  }
  
#img2 {
    z-index: 2;
    margin-top: -80%;
}

.poeme {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
}

.poeme2 {
    padding:20px;
    text-align: center;
}
.poeme2 img {
    width: 100%;
    box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
}

h1 {
    font-family: 'PinyonScript';
    text-shadow: -4px 2px 6px rgba(0,0,0,0.55);

}

.img-card {
    margin: 20px;
    width: 20%;
    border: solid 2px rgb(95, 16, 101);
    background: rgb(248,151,255);
    background: radial-gradient(circle, rgba(248,151,255,1) 51%, rgba(255,0,191,1) 96%);
    border-radius: 3%;
    color: rgb(95, 16, 101);
    text-align: center;
    font-family: 'Charmonman';
    transition: transform 0.3s;
    overflow: hidden;
    box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 12px 22px 4px rgba(0,0,0,0.63);
}

.img-card:hover {
    transform: scale(1.5);
}

.img-card p {
    z-index: 4;
    transition: transform 0.3s;
    font-size: 2vw;
}
.img-card p:hover {
    transform: scale(1.2);
}

.img-card img {
    width: 100%;
}

@media (max-width: 768px) {
    .img-card {
        margin: 10px;
        font-size: 1.5vw;
    }
    #poesie {
        display: flex;
        flex-direction: column;
    }
}

@font-face {
    font-family: 'PinyonScript';
    src: url('../fonts/pinyon-script/PinyonScript-Regular.ttf');
}

@font-face {
    font-family: 'Charmonman';
    src: url('../fonts/Charmonman/Charmonman-Regular.ttf');
}