html{
    background-image: url('../images/Sans\ titre-1.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url('../images/arrow.cur'),auto;

}

body {
    height: 100%;
    margin: 0;
}

.btn {
    background-color: #fcbbcb;
    font-family: 'PinyonScript';
    color:black;
    font-size: 25px;
    padding: 30px;
    width: 200px;
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0 rgba(195, 78, 114, 0.8), -5px -5px 15px 0 rgba(252, 187, 203, 0.8);
}

.btn:active{
    box-shadow: inset 5px 5px 15px 0 rgba(195, 78, 114, 0.8), inset -5px -5px 15px 0 rgba(252, 187, 203, 0.8)!important;
}
.btn:hover{
    box-shadow: 5px 5px 15px 0 rgba(198, 21, 61, 0.8), -5px -5px 15px 0 rgba(252 187, 203, 0.8);
}

.btn:active p {
    transform: scale(0.95);
}

p {
    transition: 0.3s;
}



a {    
    text-decoration: none;
    cursor: url('../images/Precision.cur'),pointer;

}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.txt-container {
    box-shadow: 0px 0px 20px 2px rgba(158,66,85,0.71) inset;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(158,66,85,0.71) inset;
    -moz-box-shadow: 0px 0px 20px 2px rgba(158,66,85,0.71) inset;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fcbbcb;
    border: solid 5px black;
    padding: 2%;
}

.txt-container h1 {
    font-family: 'PinyonScript';
    color: rgb(46, 0, 33);
    transition: color 0.3s ease; /* Transition pour l'effet de survol */
}

.txt-container h1:hover {
    color: #c34e72;
}


@font-face {
    font-family: 'PinyonScript';
    src: url('../fonts/pinyon-script/PinyonScript-Regular.ttf');
}

@media (max-width: 768px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    html{
        background-size: auto 100%;
    }

    .center-container {
        width: 80%;
    }
}